# Root .gitignore for emotion_detection_project

# Python
backend/__pycache__/
backend/venv/
backend/*.pyc

# .env files
.env
backend/.env

# Models
backend/models/
backend/convnext_tiny_best.pth

# Node/React
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
